<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="freeaspconnection" connectionString="Server=sql.freeasphost.net\MSSQL2016;Database=hoainam11134_QLBVMB;uid=hoainam11134;pwd=161120;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>